.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input, button {
  margin: .5em;
  padding: .5em;
  font-size: .5em;
  border-radius: 2px 5px;
  box-shadow: white .5px .5px .5px .5px;
}
button:hover, input:hover, input:focus {
  background-color: #d9e0ec;
}

input[type=checkbox] {
  box-shadow: 0 0 0 0;
  
}

button {
  background-color: whitesmoke;
  color: #1c1f25;
}

.App-header {
  background-color: #1c1f25;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(196, 196, 196);
}
.App-main {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
